{% extends "TroiswaBackBundle::layout.html.twig" %}

{% form_theme formContact _self %}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <p>
            {%- for error in errors -%}
                {{ error.message }}
            {%- endfor -%}
        </p>
    {%- endif -%}
{%- endblock form_errors -%}

{% block title %}Contact{% endblock %}
{% block content %}


        {%  for message in app.session.flashbag.get("success_contact") %}
            <div class="alert alert-success alert-dismissable">
            Message flash : {{ message }}
            </div>
        {% endfor %}


    <p> nouveau contenu</p>

    {#  {{ form(formContact) }}  #}
    {{ parent() }}

    {{ form_start(formContact, {attr:{novalidate:"novalidate"}}) }}

    {{ dump(formContact.firstname) }}

    {% if formContact.firstname.vars.errors | length %}
        <div class="has-error">
    {% endif %}

                {{ form_label(formContact.firstname, "Nom",{label_attr : {class:"control-label"},id:"label2"  }) }}
                {{ form_widget(formContact.firstname, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formContact.firstname.vars.errors | length %}
        </div>
    {% endif %}


    {% if formContact.firstname.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formContact.lastname, "Prenom",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formContact.lastname, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formContact.firstname.vars.errors | length %}
        </div>
    {% endif %}


    {% if formContact.firstname.vars.errors | length %}
    <div class="has-error">
    {% endif %}

    {{ form_label(formContact.Email, " email",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formContact.Email, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formContact.firstname.vars.errors | length %}
        </div>
    {% endif %}


    {% if formContact.firstname.vars.errors | length %}
    <div class="has-error">
    {% endif %}

    {{ form_label(formContact.Content, "Description",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formContact.Content, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formContact.firstname.vars.errors | length %}
        </div>
    {% endif %}



    {{ form_end(formContact) }}






{% endblock %}

{% block sidebar  %}

{% endblock %}