{% extends "TroiswaBackBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("js/datepicker/images") }}">
    <link rel="stylesheet" href="{{ asset("js/datepicker/jquery-ui.min.css") }}">
    <link rel="stylesheet" href="{{ asset("js/datepicker/jquery-ui.structure.min.css") }}">
    <link rel="stylesheet" href="{{ asset("js/datepicker/jquery-ui.theme.min.css") }}">

{% endblock %}

{% block content %}



    <p> edition contenu</p>
    {{ parent() }}


    {{ form_start(formProduct, {attr:{novalidate:"novalidate"}}) }}


    {% if formProduct.title.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.title, "Title",{label_attr : {class:"control-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.title, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.title.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.description.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.description, "Deription",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.description, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.description.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.price.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.price, " Price",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.price, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.price.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.quantity.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.quantity, "quantité",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.quantity, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.quantity.vars.errors | length %}
        </div>
    {% endif %}


    {{ form_label(formProduct.dateCreated, "date de création") }}
    {{ form_widget(formProduct.dateCreated, {attr : {class:"datepicker"}}) }}



    <input type="submit" />


    {{ form_end(formProduct) }}




{% endblock %}

{% block sidebar  %}

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/datepicker/jquery-ui.min.js')}}"></script>
    <script src="{{ asset('js/product.js')}}"></script>

    <script>$(".datepicker").datepicker({dateFormat:"dd/mm/yy"})</script>



{% endblock %}