{% extends "TroiswaBackBundle::layout.html.twig" %}



{% block content %}



    <p> edition contenu</p>
    {{ parent() }}


    {{ form_start(formProduct, {attr:{novalidate:"novalidate"}}) }}


    {% if formProduct.title.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.title, "Title",{label_attr : {class:"control-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.title, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.title.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.description.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.description, "Deription",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.description, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.description.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.price.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.price, " Price",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.price, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.price.vars.errors | length %}
        </div>
    {% endif %}


    {% if formProduct.quantity.vars.errors | length %}
        <div class="has-error">
    {% endif %}

    {{ form_label(formProduct.quantity, "quantité",{label_attr : {class:"form-label"},id:"label2"  }) }}
    {{ form_widget(formProduct.quantity, {attr : {class:"form-control"},id:" form-control2"  }) }}

    {% if formProduct.quantity.vars.errors | length %}
        </div>
    {% endif %}



     {{ form_end(formProduct) }}




{% endblock %}

{% block sidebar  %}

{% endblock %}