{% extends "TroiswaBackBundle::layout.html.twig" %}



{% block content %}

    <title> liste produit </title>

    <p> nouveau contenu</p>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-block btn-primary" href="{{ path('troiswa_back_page_create') }}">Créer un produit</a>
    {% endif %}
    <div class="box-body table-responsive no-padding">
    <div id="productdetail">
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>DateCreated</th>
                <th>Quantity</th>
            </tr>
            {% for products in product %}
                {#
                    {% if products.categorie %}
                        {{ products.categorie.title }}
                    {% endif %}

                #}

                    <tr>
                        <td>{{ products.id }}</td>
                        <td>{{ products.title  }}</td>
                        <td>{{ products.description  }}</td>
                        <td>{{ products.price  }}</td>

                        <td>{{ products.dateCreated | date("now") }}</td>
                        <td>{{ products.quantity  }}</td>
                        <td>
                            <a class="btn btn-block btn-success" href="{{ path('troiswa_back_page_show',{  'id' : products.id}) }}">Voir</a>
                            <a class="btn btn-block btn-info" href="{{ path('troiswa_back_page_edit',{  'id' : products.id}) }}">Editer</a>
                            <a class="btn btn-block btn-danger delete" href="{{ path('troiswa_back_page_delete',{  'id' : products.id}) }}">Delete</a>

                        </td>


                    </tr>
            {% endfor %}
        </table>
    </div>
</div><!-- /.box-body -->

{#<h1>
    {{"Affichage de tous les produits" |trans  }}
</h1>
<h1>
    {% trans %}
    ceci est une autre phrase
    {% endtrans %}
</h1>

<p>Ceci est du super contenu</p>

<p>Il y a 2 produits</p>#}

    <h1>
        {{ "product.title"|trans }}
    </h1>

    <h2>
        {% trans %}
        product.subtitle
        {% endtrans %}
    </h2>

    <p>
        {% set nb = 100 %}
        {% transchoice nb %}
        product.count
        {% endtranschoice %}

        {% transchoice with {'%nb%': product|length} %}
        product.count
        {% endtranschoice %}

        {% set nb = 100 %}
        {{ product.count|transchoice({'%nb%': nb}) }}

        {{ product.count|transchoice({'%nb%': product|length}) }}
    </p>





{% endblock %}

{% block sidebar  %}

{% endblock %}

