{% extends "TroiswaBackBundle::layout.html.twig" %}



{% block content %}

    <title> liste produit </title>

    <p> nouveau contenu</p>
    <a class="btn btn-block btn-primary" href="{{ path('troiswa_back_page_create') }}">Créer un produit</a>
    <div class="box-body table-responsive no-padding">
    <div id="productdetail">
        <table class="table table-hover">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>DateCreated</th>
                <th>Quantity</th>
            </tr>
            {% for products in product %}
                {#
                    {% if products.categorie %}
                        {{ products.categorie.title }}
                    {% endif %}

                #}

                    <tr>
                        <td>{{ products.id }}</td>
                        <td>{{ products.title  }}</td>
                        <td>{{ products.description  }}</td>
                        <td>{{ products.price  }}</td>

                        <td>{{ products.dateCreated | date("now") }}</td>
                        <td>{{ products.quantity  }}</td>
                        <td>
                            <a class="btn btn-block btn-success" href="{{ path('troiswa_back_page_show',{  'id' : products.id}) }}">Voir</a>
                            <a class="btn btn-block btn-info" href="{{ path('troiswa_back_page_edit',{  'id' : products.id}) }}">Editer</a>
                            <a class="btn btn-block btn-danger delete" href="{{ path('troiswa_back_page_delete',{  'id' : products.id}) }}">Delete</a>

                        </td>


                    </tr>
            {% endfor %}
        </table>
    </div>
</div><!-- /.box-body -->


{% endblock %}

{% block sidebar  %}

{% endblock %}

