{% extends "TroiswaBackBundle::layout.html.twig" %}



{% block content %}

    <title> liste produit </title>

    <p> nouveau contenu</p>
{{ dump(product) }}
<p>Categorie : {{ product.categorie.title }}</p>
    Id : {{ product.id }} </br>
    Title : {{ product.title  }} </br>
    Decription : {{ product.description  }} </br>
    Price : {{ product.price  }} </br>
    Date : {{ product.dateCreated | date("now") }} </br>
    Quantité : {{ product.quantity  }} </br>


    <td><a href="{{ path('troiswa_back_page_edit',{  'id' : product.id}) }}">{{ product.title }}</a></td>



{% endblock %}

{% block sidebar  %}

{% endblock %}